*{
    margin: 0;
    padding: 0;
}

/*Configurações Gerais do Body*/
body{
    background: #ffffff url(./imagens/fundo.png) repeat-x;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
}
body #container{
    width: 750px;
    margin: 0 auto;
}

/* Configurando o Header */

.logo{
    width: 152px;
    height: 66px;
    background: url(./imagens/logo.png) no-repeat left top;
    text-indent: -3000px;
    margin-left: -25px;
}

header{
    height: 150px;
    padding: 25px;
    background: url(./imagens/detalhe-topo.png) no-repeat right top;
}

/* Configurando a barra de navegação */
ul{
    list-style: none;
    margin: 0px;
    padding: 0px;    
}

header ul{
    background: #b10333;
    margin-top: 30px;
    float: left;
    margin-left: -25px;
}

header ul li{
    float: left;
}

header ul a{
    font-size: 0.9em;
    display: block;
    padding: 0.5em 1.5em;
    line-height: 2.1em;
    text-decoration: none;
    color: #ffffff;
    background: url(./imagens/divisor.png) no-repeat left center;

}

header ul .primeiro a{
    background: none;
}

header ul a:hover{
    color: #69001d
}

body.home header nav a#home,
body.brasil header nav a#brasil,
body.internacional header nav a#internacional,
body.economia header nav a#economia,
body.saude header nav a#saude,
body.ciencia header nav a#ciencia,
body.fotos header nav a#fotos{
    color: white;
    background: #de003e;
    cursor: text;
}

/*Configurando o conteudo*/

/*Configurando o main*/
main{
    margin-top: 35px;
    background:#f5f5f5;
}

/* Configurando o Menu Lateral */

#lateral{
    width: 180px;
    float: left;
    margin: 0 0 20px -750px;
}

#lateral ul a{
    font-size: 0.9em;
    padding: 3px;
    display: block;
    line-height: 30px;
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #f3f3f3;
}
#lateral ul a:hover{
    background: #f9f9f9 url(./imagens/marcador.png) no-repeat left center;
    padding-left: 20px;
    color: #a1a1a1;
}

/* Configurando o Menu Lateral */

/* Formatando Formulários */
label{
    display: block;
    cursor: pointer;
}
input{
    padding: 5px;
    width: 125px;
    font-size: 0.9em;
    background-color: white;
}
input.submit{
    width: 80px;
    color: white;
    background-color: #b10333;
    border: 2px solid #870529;
}

/* Formatando as caixas */
.caixa{
    margin:10px 0px;
    padding: 5px;
    background: #f3f3f3 url(./imagens/fundo-caixa.png);
}
h2{
    font-size: 1em;
    background: #294c71;
    color: #fff;
    padding: 5px;
}

.caixa-conteudo{
    background: #fff;
    padding: 5px;
    margin-top: 5px;
}

/* Formatando as caixas */

/* Formatando Imagens */

img.imagem-principal{
    width: 98%;
    border: 3px solid #dfdfdf;
}
/* Formatando cabeçalhos */
h3{
    text-transform: uppercase;
    display: inline;
    font-size: 0.8em;
    padding: 3px;
}

.destaque h3{
    background: #b10333;
    color: #fff;
}

.entrevista h3{
    background: #de003e ;
}

/* Formatando o conteúdo */

#tres-colunas #primario{
    width: 270px;
    float: left;
    margin: 0px 0px 20px 195px;
}

#duas-colunas #primario{
    width: 555px;
    float: left;
    margin: 0px 0px 20px 195px;
}

#uma-coluna #primario{
    width: 750px;
    margin: 0px 0px 20px 0px;
}

#secundario{
    width: 270px;
    float: left;
    margin: 0 0 20px 15px;
}

/* Formatando o conteúdo */

/* Formatando Lista Notícias */
#lista-noticias li{
    padding: 2px;
    border-bottom: 1px solid #ccc;
    height: 65px;
}

#lista-noticias li a img{
    float: left;
    margin: 5px;
}

#lista-noticias li a{
    text-decoration: none;
}

#lista-noticias li a h3{
    font-size: 0.8em;
    padding: 0;
    color: #3e7ab9;
}
#lista-noticias li a p{
    font-size: 0.7em;
}
#lista-noticias li:hover{
    background: #eee;
    cursor: pointer;
}

/* Configurando o footer */

div#container-rodape{
    clear: both;
    background: #294c71;
    padding: 20px;
}
#rodape{
    width: 750px;    
    margin: 0 auto;
    color: white;
}